DATABASE_URL=


NEXTAUTH_JWT_SECRET=
NEXTAUTH_SECRET=


UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

GIPHY_SECRET=

NEXT_PUBLIC_PUSHER_APP_KEY=
PUSHER_APP_ID=
PUSHER_SECRET=

GMAIL_FROM=
GMAIL_APP_PASSWORD=